header.header
  .header__wrapper
    .header__column
      a(href=routes.home)
        i.fab.fa-youtube
    .header__column
      form(action=routes.search,method="get")
        input(type="text", placeholder="Search", name="term") 
    .header__column
      ul
        if !user.isAuthenticated
          li
            a(href=routes.join) Join
          li
            a(href=routes.login) LogIn
        else
          li
            a(href=`/videos${routes.upload}`) Upload
          li
            //- 템플릿에서는 '/users/1' 로 인식하기 때문에 인자전달이 필요하다
            a(href=routes.userDetail(user.id)) Profile
          li
            a(href=routes.logout) Logout